In [3]:
# Exercies 1: mengidentifikasi dan menangani data yang hilang
import pandas as pd

# Contoh dataset dengan nilai yang hilang 
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', None],
    'Age' : [20, 30, None, 22, 35],
    'Salary' : [48000, None, 57000, None, 60000]
}

df = pd.DataFrame(data)

# Mengisi nilai yang hilang dan menghapus baris
df['Age'].fillna(df['Age'].mean(), inplace = True)
df['Salary'].fillna(df['Salary'].median(), inplace = True)
df.dropna(subset=['Name'], inplace = True)
print("After Clenaning:\n", df)

After Clenaning:
       Name    Age   Salary
0    Alice  20.00  48000.0
1      Bob  30.00  57000.0
2  Charlie  26.75  57000.0
3    David  22.00  57000.0

/tmp/ipykernel_3576/3008331138.py:14: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].fillna(df['Age'].mean(), inplace = True)
/tmp/ipykernel_3576/3008331138.py:15: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Salary'].fillna(df['Salary'].median(), inplace = True)

In [4]:
# Exercies 2: Standarisasi Data Kategori
# Contoh dataset dengan nilai kategori yang tidak konsisten
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

#Standarisasi nilai kategori
df['Category'] = df['Category'].str.capitalize()
print("Standarized Data:\n", df)

Standarized Data:
    Product     Category
0   Laptop  Electronics
1   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets
4   Tablet      Gadgets

In [5]:
# Exercies 2: Standarisasi Data Kategori
# Contoh dataset dengan nilai kategori yang tidak konsisten
data = {
    'Product': ['Laptop', 'Laptop', 'Desktop', 'Tablet', 'Tablet'],
    'Category': ['Electronics', 'electronics', 'Electronics', 'Gadgets', 'gadgets']
}
df = pd.DataFrame(data)

#Standarisasi nilai kategori
df['Category'] = df['Category'].str.capitalize()

df = df.drop_duplicates()
print("Standarized Data:\n", df)

Standarized Data:
    Product     Category
0   Laptop  Electronics
2  Desktop  Electronics
3   Tablet      Gadgets

In [6]:
!pip install kagglehub

Requirement already satisfied: kagglehub in ./anaconda3/lib/python3.13/site-packages (0.3.13)
Requirement already satisfied: packaging in ./anaconda3/lib/python3.13/site-packages (from kagglehub) (24.2)
Requirement already satisfied: pyyaml in ./anaconda3/lib/python3.13/site-packages (from kagglehub) (6.0.2)
Requirement already satisfied: requests in ./anaconda3/lib/python3.13/site-packages (from kagglehub) (2.32.3)
Requirement already satisfied: tqdm in ./anaconda3/lib/python3.13/site-packages (from kagglehub) (4.67.1)
Requirement already satisfied: charset-normalizer<4,>=2 in ./anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.3.2)
Requirement already satisfied: idna<4,>=2.5 in ./anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (3.7)
Requirement already satisfied: urllib3<3,>=1.21.1 in ./anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (2.3.0)
Requirement already satisfied: certifi>=2017.4.17 in ./anaconda3/lib/python3.13/site-packages (from requests->kagglehub) (2025.8.3)

In [12]:
# Download dataset dari Kaggle
import kagglehub


path = kagglehub.dataset_download("yasserh/titanic-dataset")

print("Path to dataset files:", path)

Path to dataset files: /home/wleowleo/.cache/kagglehub/datasets/yasserh/titanic-dataset/versions/1

In [13]:
#Cek nama file dipath guna memastikan nama dataset
import os
print(os.listdir(path))

['Titanic-Dataset.csv']

In [15]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# 1. Identifikasi Missing Values
print("Nilai yang hilang per Kolom:")
print(df.isnull().sum())

# 2. Normalisasi kolom numerik
numeric_cols = df.select_dtypes(include=['int64', 'float64']).columns

scaler = MinMaxScaler()
df[numeric_cols] = scaler.fit_transform(df[numeric_cols])

print("\nData setelah normalisasi:")
print(df.head(6))


# 3. Standardisasi kolom kategorikal & hapus duplikasi
categorical_cols = df.select_dtypes(include=['object']).columns

for col in categorical_cols:
    df[col] = df[col].astype(str).str.capitalize()

df = df.drop_duplicates()

print("\nData setelah standardisasi dan penghapusan duplikasi:")
print(df.head())

Nilai yang hilang per Kolom:
PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin            0
Embarked         0
dtype: int64

Data setelah normalisasi:
   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0
5     0.005618       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, mr. owen harris    Male  0.271174  0.125
1  Cumings, mrs. john bradley (florence briggs th...  Female  0.472229  0.125
2                             Heikkinen, miss. laina  Female  0.321438  0.000
3       Futrelle, mrs. jacques heath (lily may peel)  Female  0.434531  0.125
4                           Allen, mr. william henry    Male  0.434531  0.000
5                                   Moran, mr. james    Male       NaN  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   Nan        S
1    0.0          Pc 17599  0.139136   C85        C
2    0.0  Ston/o2. 3101282  0.015469   Nan        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   Nan        S
5    0.0            330877  0.016510   Nan        Q

Data setelah standardisasi dan penghapusan duplikasi:
   PassengerId  Survived  Pclass  \
0     0.000000       0.0     1.0
1     0.001124       1.0     0.0
2     0.002247       1.0     1.0
3     0.003371       1.0     0.0
4     0.004494       0.0     1.0

                                                Name     Sex       Age  SibSp  \
0                            Braund, mr. owen harris    Male  0.271174  0.125
1  Cumings, mrs. john bradley (florence briggs th...  Female  0.472229  0.125
2                             Heikkinen, miss. laina  Female  0.321438  0.000
3       Futrelle, mrs. jacques heath (lily may peel)  Female  0.434531  0.125
4                           Allen, mr. william henry    Male  0.434531  0.000

   Parch            Ticket      Fare Cabin Embarked
0    0.0         A/5 21171  0.014151   Nan        S
1    0.0          Pc 17599  0.139136   C85        C
2    0.0  Ston/o2. 3101282  0.015469   Nan        S
3    0.0            113803  0.103644  C123        S
4    0.0            373450  0.015713   Nan        S